stages:
  - build
  - deploy

cache:
  key:
    files:
      - package-lock.json
  paths:
    - .npm/

.default-cache: &default-cache
  before_script:
    - npm ci --cache .npm --prefer-offline

build:
  extends:
    - .default-cache
  image: node:14.17.0-alpine
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    path:
      - build/

deploy:
  image: ubuntu:latest
  stage: deploy
  script:
    - apt -qq update && apt upgrade -qqy openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - scp ./build/* deploy@172.104.151.230:~/realworld
